{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    "@babel/plugin-proposal-private-property-in-object"
    // Add other plugins as needed
  ],
  "ignore": [ "./node_modules/mapbox-gl/dist/mapbox-gl.js" ]
}
