.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.nav-bar li {
  list-style-type: none;
}

.nav-bar {
  display: flex;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.continent-picture {
  height: 250px;
  width: 250px;
  object-fit: contain;
}

.about-container {
  /* border: 1px solid #dd9933; */
  padding: 10%;
  color: #777777;
  font-size: 14pt;
  text-align: left;
}

.basic-container {
  /* border: 1px solid #dd9933; */
  padding: 10%;
  color: #777777;
  font-size: 14pt;
}

.body-container {
  /* border: 1px solid #dd9933; */
  color: #777777;
  font-size: 14pt;
}

.continents-container {
  /* border: 1px solid #dd9933; */
  color: #777777;
  font-size: 14pt;
  max-width: 90% !important;
}

.flex {
  display: flex;
}

.banner-container {
  padding: 1% 0% 3% 0%;
  border-top: 1px solid rgb(244, 168, 26);
  max-width: 100%;
}

.home-container {
  padding: 2% 0%;
  border: 1px solid rgb(244, 168, 26);
  max-width: 100%;
}

.carousel-indicators {
  display: none !important;
}

.carousel-control-prev{
  display: none !important;
}

.carousel-control-next{
  display: none !important;
}

.carousel-controls {
  display:inline-flex;
  justify-content: space-between;
}

img {
  max-width: 100%;
}

.intro-container {
  margin: 5%;
}

.top5-card {
  width: 180px;
  height: 250px;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  margin-bottom: 1.5em;
  gap: 1%;
}

.top5-card:hover {
  transform: scale(1.7);
  z-index: 1;
  cursor: pointer;
  /* margin: 150% 0%; */
}

.top5-content {
  max-width: 100%;
  color: white;
  line-height: 120%;
  text-shadow: 1px 1px 5px #090909;
  font-size: 1.8vh;
  font-family: 'Oxygen', sans-serif;
  text-align: center;
  overflow: hidden;
}

.top5-content h2{
  font-size: 2vw;
  margin-top: 8%;
  font-weight: bold;
  text-shadow: 3px 1px 5px #000;
}

.top5-post {
  margin: 5%;
}

.pointer {
  cursor: pointer;
}

.margin {
  margin-bottom: 3em;
}

.white-title {
  color: white;
  text-shadow: 3px 3px 3px rgb(61, 61, 61); 
  align-self: start;
  text-decoration: none;
}

.white-title:hover {
  text-decoration: none;
}

a:hover{ 
  text-decoration: none !important;
}

.country-card {
  margin: 1em 0;
  border: none;
}

.country-card h2 {
  position: relative;
}

.country-button {
  position: relative;
  display: flex;
  margin: auto;
  flex-direction: column;
  height: 12rem;
  width: 12rem;
  min-height: 12rem;
  min-width: 12rem;
}

@media screen and (min-width: 768px) {
  .country-button {
    height: 16rem;
    width: 16rem;
  }
}

@media screen and (min-width: 992px) {
  .country-button {
    height: 20rem;
    width: 20rem;
  }
}

.country-button:before {
  content: "";
  height: 12rem;
  width: 12rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all .2s linear;
}

.country-button:hover:before {
  background: rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 768px) {
  .country-button:hover:before {
    height: 16rem;
    width: 16rem;
  }
}

@media screen and (min-width: 992px) {
  .country-button:hover:before {
    height: 20rem;
    width: 20rem;
  }
}

.hide {
  display: none;
}

.align-left {
  text-align: left;
}

/* ############################## SEARCHBOX ######################################### */ 
.user-search-box{
  overflow: hidden;
  position:absolute;
  height:100%;
}
.user-search-box .input-box{
  width:100%;
}

.user-search-box .result-list{
  position: absolute;
  max-height:100%;
  min-width:100%;
  overflow: auto;
  height: calc(100% - 40px);
}
.user-search-box .list-item{
  padding-top: 2rem;
  position: relative;
  overflow:auto;
  width:100%;
  height: 1300px;
}

.budget-container {
  padding: 3%;
  margin: 2%;
  border: 1px solid rgb(244, 168, 26);
}

.budget-intro {
  margin: 5%;
}

/* .full-height {
  height: 100% !important;
  background: grey;
  padding: 10px;
} */

#map-container {
  /* width: 100vw; */
  /* height: 100vh; */
  position: fixed;
  top: 0;
  right: 0;
  width: 400px;
  height: 100%;
  z-index: 999; /* Adjust the z-index as needed */
}

.container {
  position: relative;
  /* margin: none !important; */
}

.banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  animation: fadeout 5s ease-in-out forwards;
}

.content {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  animation: fadein 2s forwards, slideup 2s forwards;
  animation-delay: 3s;
}

.country .content {
  padding-top: 5rem;
  color: white;
  text-shadow: 1px 2px 2px rgb(11, 11, 11); 
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideup {
  from {
    bottom: -100%;
  }
  to {
    bottom: 0;
  }
}

.no-border {
  border: none;
}

.country .compact-text {
  line-height: .5rem;
}

.inline {
  display: inline-flex;
}

.compact-text {
  line-height: .5rem;
}

.budget-row {
  justify-content: space-between;
}

.instagram {
  height: 100%;
}

.diagonal-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(30deg);
  font-size: 3rem;
  color: rgb(255, 217, 0);
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  /* background-color: rgba(0, 0, 0, 0.5); */
  padding: 8px;
  z-index: 2;
}

.mapboxgl-canvas {
  /* width: 100% !important;
  height: auto !important; */
}

.top5-map {
  background-color: grey;
  padding: 10px;
  align-self: center;
  justify-self: center;
}