.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.nav-bar li {
  list-style-type: none;
}

.nav-bar {
  display: flex;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.continent-picture {
  height: 250px;
  width: 250px;
  object-fit: contain;
}

.basic-container {
  /* border: 1px solid #dd9933; */
  padding: 1%;
  margin: 2% 10%;
  color: #777777;
  font-size: 14pt;
}

.flex {
  display: flex;
}

.banner-container {
  padding: 1%;
  border: 1px solid rgb(244, 168, 26);
  max-width: 100%;
}

img {
  max-width: 100%;
}