.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.nav-bar li {
  list-style-type: none;
}

.nav-bar {
  display: flex;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.continent-picture {
  height: 250px;
  width: 250px;
  object-fit: contain;
}

.basic-container {
  /* border: 1px solid #dd9933; */
  padding: 10%;
  color: #777777;
  font-size: 14pt;
}

.body-container {
  /* border: 1px solid #dd9933; */
  color: #777777;
  font-size: 14pt;
}

.flex {
  display: flex;
}

.banner-container {
  padding: 1% 0% 3% 0%;
  border: 1px solid rgb(244, 168, 26);
  max-width: 100%;
}

.home-container {
  padding: 2% 0%;
  border: 1px solid rgb(244, 168, 26);
  max-width: 100%;
  margin: 5% 0%;
}

img {
  max-width: 100%;
}

.carousel-indicators {
  display: none !important;
}

.carousel-control-prev{
  display: none !important;
}

.carousel-control-next{
  display: none !important;
}

.intro-container {
  margin: 5%;
}

.card {
  padding-top: 5%;
  margin-bottom: 10%;
}

.top5-card {
  width: 180px;
  height: 250px;
  background-size: contain;
  background-repeat: no-repeat;
}

.top5-card:hover {
  transform: scale(1.7);
  margin-bottom: 80%;
}